<div class="container" id="question-page">

  <h3 class="main-heading text-center">Quiz questions for <%= @listing.title %></h3>

  <h6>this quiz contains <%= @questions.count %> questions</h6>
  <div class="responses">
    <% counter = 1 %>
    <% @questions.each do |question| %>
    <div class="response">
      <p>Q<%= counter %>: <strong><%= question.question.capitalize %></strong></p>
      <p><i class="fas fa-check" style="color: green"></i>  <%= question.correct_answer.capitalize %></p>
      <% question.wrong_answers.each do |wrong| %>
      <p><i class="fas fa-times" style="color: red; margin-right: 6px;"></i>  <%= wrong.capitalize %></p>
      <% end %>
    </div>
    <% counter += 1 %>
    <% end %>
  </div>
</div>





