 <div id="question-form">
  <%= simple_form_for([submission, Response.new], remote: true) do |f| %>
  <!-- Make a simple form -->
  <!-- question for form -->
  <p class="text-center"><strong> <%= question.question %></strong></p>
  <% if question.question_type == 'multiple_choice' %>
  <% option_array = question.wrong_answers %>
  <% option_array.push(question.correct_answer) %>
  <%= f.input_field :content, as: :radio_buttons, collection: option_array. shuffle, :item_wrapper_class => 'inline'
  %>
  <% else %>
  <!-- Show text entry -->
  <div>
    <%= f.input_field :content, class: "text-field"%>
  </div>
  <% end %>
  <%= f.submit "Submit Answer!", class:"btn btn-success socksup-primary quiz-button", id: "submit-button" %>
  <%= f.input :question_id, as: :hidden, :input_html => { value: question.id } %>
  <% end %>
</div>
