<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <%# @quiz.questions.each do |question| %>
      <%= simple_form_for([@submission, Response.new]) do |f| %>
      <!-- Make a simple form -->
      <div class="question">
        <!-- question for form -->
        <% question = @quiz.questions.find(5) %>
        <p class="text-center"><strong> <%= question.question %></strong></p>

        <% if question.question_type == 'multiple_choice' %>
          <% option_array = question.wrong_answers %>
          <% option_array.push(question.correct_answer) %>
          <%= f.input_field :content, as: :radio_buttons, collection: option_array. shuffle, :item_wrapper_class => 'inline'
          %>
        <% else %>
          <!-- Show text entry -->
          <p>****this is where text field goes****</p>
        <% end %>

        <%= f.input :question_id, as: :hidden, :input_html => { value: question.id } %>
          <%= f.submit "Submit Answer!", class:"btn btn-success" %>
      </div>
      <% end %>
      <%# end %>
      </div>
   </div>
</div>


<!-- one question and response per view -->
<!-- on Response.create, iterate to next question, redirect to same page -->
<!-- if @quiz.questions.last, then redirect to your next view -->
