<% @quiz.questions.each do |question| %>


<!-- Make a simple form -->
  <div>
    <!-- question for form -->
    <p><%= question.question %></p>


    <% if question.question_type == 'multiple_choice' %>

      <% option_array = question.wrong_answers %>
      <% option_array.push(question.correct_answer) %>
      <% option_array.shuffle.each do |option| %>

        <!-- make each of these a radio button -->
         <p> <%= option %></p>


      <% end %>
    <% else %>

    <!-- Show text entry -->
      <p>****this is where text field goes****</p>
    <% end %>


      <!-- trying to pass question_id as hidden field -->
      <% f.input question_id = question.id, as: :hidden %>

      <!-- submit button -->
      <!-- sends to /submission/id/response  (response#create). method post -->
<!-- End simple form -->
  </div>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="form-post">
        <p>question.question</p>
        <%= simple_form_for([@submission, response]) do |f| %>
        <%= f.input :answer  %>
          <%= f.submit "Save", class: "btn btn-primary"  %>
        <% end %>
      </div>
    </div>
  </div>
</div>
