<div class="message">

  <% if user_is_messages_author %>
  <div class = "outbound">
    <%= m.content %>
  </div>
  <% else %>
  <div class="avatar-relative">
  <% if m.user.employer.nil? %>
    <%=cl_image_tag m.user.photo, class: 'message-avatar-side'  %>
    <% else %>
    <%= cl_image_tag m.submission.listing.employer.photo, class: 'message-avatar-side' %>
  <% end %>
  </div>
  <div class="rel-box">
    <div class="inbound">
      <%= m.content %>
    </div>
    <% unless m.user.employer.nil? %>
    <div class="employer-name">
    <%= "#{m.user.first_name} from #{m.submission.listing.employer.name}" %>
    </div>
    <% end %>
  </div>
  <% end %>
</div>
<!--
<div class="message">
  <div class="<%#= user_is_messages_author ? "outbound" : "inbound" %>"><%= m.content %></div>
</div> -->
