<div class="container">
  <div class="chat">
      <% @messages.each do |m| %>
      <%= render "message", m: m %>
      <% end %>
    </div>
  </div>
    <div class="enter-message">
       <%= simple_form_for [@submission, Message.new],  remote: true  do |f|%>
          <div class="form-box-chat">
            <div>
              <%= f.input :content, :placeholder => "Message", label: false, input_html: { class: 'message-input'}%>
            </div>
            <div>
              <%= f.submit "Send", class:"btn btn-primary socksup-secondary chat-button"%>
              </div>
          </div>
        <% end %>
    </div>

    <% content_for :after_js do %>
    <script>
      App['submission_<%=@submission.id%>'] = App.cable.subscriptions.create({ channel: 'SubmissionsChannel', submission_id: <%= @submission.id %> }, {received: (data) => {
        const chat = document.querySelector('.chat');
        chat.insertAdjacentHTML('beforeend', data.message_partial);
        const input = document.getElementById('message_content');
        input.value = '';
      }
    })
    </script>
    <% end %>
