<!-- Background picture with profiule picture on top -->
<div class="banner-profile" style="background-image: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/4RUieTItxik2c5fvx/simple-animated-geometric-background-with-squares-4k-ultra-high-definition-video-loop_hzhlwak8x_thumbnail-full01.png')">
  <div class="invisible-button-refresh">
    <%= link_to "", user_path(current_user), class: "invisible-button-refresh"%>
  </div>
  <div class="banner-content-profile">
    <% if current_user.employer %>
    <div class="new-listing-button"> <%= link_to "Add New Job Listing",  new_employer_listing_path(current_user.employer), class: "btn btn-success socksup-primary small response-button" %></div>
    <h3><%= current_user.employer.name %></h3>
    <% else %>
    <h3><%= current_user.first_name%> <%= current_user.last_name%></h3>
    <% end %>

    <% if current_user.employer %>
    <%= cl_image_tag current_user.employer.photo, class: "profile-picture", width: 70, height: 70 %>
    <%= cl_image_tag current_user.photo, class: "profile-picture-tiny", width: 70, height: 70 %>
    <% else %>
    <%= cl_image_tag current_user.photo, class: "profile-picture", width: 70, height: 70 %>
    <% end %>
  </div>
</div>

<!-- If a user is an applicant it will show the jobs they user has applied for, if it is an employer it will show applicants -->
<div class="inbox-container">
  <% if  @user.employer %>
  <%= render 'shared/employer-listings-inbox' %>
  <% else %>
  <%= render 'shared/user-submissions-inbox' %>
  <% end %>
</div>


