
<div class="inbox-container"></div>
  <div class="inbox">
    <h4>Applicants</h4>
    <p><%@inbound_submissions.each do |s|%></p>
    <div class="inbox-card">
      <div class="inbox-info inbox-info-left">
        <%= cl_image_tag s.user.photo, class: "profile-picture-inbox" %>
          <p class="applicant-name"><%= "#{s.user.first_name}" " #{s.user.last_name}"%></p>
        <div class="small listing-title-position">
          <strong><%= "#{s.listing.title}" %></strong>
        </div>
      </div>
      <div class="inbox-info">
        <% if s.confirmed.nil?%>
           <i class="far fa-clock"></i>
           <p class="awaiting-response">Awaiting <br> Response</p>
           <%= link_to "View Application",submission_path(s), class: "btn btn-success socksup-primary small response-button" %>
        <% elsif s.confirmed == true%>
          <i class="fas fa-check"></i>
          <p id="accepted"> <strong>Accepted!</strong></p>
          <%= link_to "Messages", submission_messages_path(s), class: "btn btn-success socksup-primary small response-button" %>
        <% else s.confirmed == false%>
          <p style="color: red;">Rejected</p>
        <% end %>
      </div>
    </div>
        <hr width="50%">
    <% end %>
  </div>
</div>
