
<div class="inbox-container"></div>
  <div class="inbox">
    <p><%@user.submissions.each do |s|%></p>
    <div class="inbox-card">
      <div class="inbox-info">
      </div>
      <div class="inbox-info">
        <div class="big">
          <%= "#{s.listing.title}"%>
        </div>
        <div class="small">
          <strong><%= "#{s.listing.employer.name}"%></strong>
        </div>
        <div class="small">
          <%= "#{s.listing.start_date.strftime("%d, %m, %Y")}" %>
        </div>
        <div class="small">
          <%= "#{s.listing.end_date.strftime("%d, %m, %Y")}" %>
        </div>
      </div>
      <div class="inbox-info">
        <% if s.responses.count < s.listing.quiz.questions.count %>
          Incomplete
        <% elsif s.submitted.nil? %>
          <%= link_to "Submit", submit_path(s), method: :patch, class: "btn btn-primary", id: "submit-button", remote: :true %>
        <% elsif s.confirmed == true%>
            Accepted!
        <% elsif s.confirmed.nil?%>
           <p>Awaiting Response</p>
        <% else s.confirmed == false%>
          <p>REJECTED</p>
        <% end %>
      </div>
    </div>
        <hr width="50%">
    <% end %>
  </div>
</div>
