<div class="container" id="response-page">
  <h2 class="main-heading text-center">Here are your responses!</h2>
  <div class="responses">
      <% @submission.responses.each do |r| %>
    <div class="response">
      <h4><%= r.question.question %></h4>
      <h5><%= r.content %></h5>
      <hr>
    </div>

    <% end %>
  </div>


  <%= button_to "Submit quiz", submit_path(@submission), method: :patch, class: "btn btn-success socksup-primary response-button", id: "submit-button", remote: :true, "data-toggle" => "modal", "data-target" => "#confirmSubmission" %>
</div>


<div class="modal fade" id="confirmSubmission" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5  id="exampleModalCenterTitle">Congrats!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= "You've successfully submitted your quiz to be a #{@submission.listing.title.downcase} at #{@submission.listing.employer.name}" %>
      </div>
      <div class="modal-footer ">
        <%= link_to 'Look for More Jobs', listings_path, class: "btn btn-success socksup-primary" %>
        <%= link_to 'See My Applications', user_path(@submission.user), class: "btn btn-success socksup-secondary" %>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


