<div class="container" id="response-page">
  <% if current_user.employer %>
  <h3 class="main-heading text-center"><%= @submission.user.first_name %>'s  responses!</h3>
  <% else %>
  <h3 class="main-heading text-center">Here are your responses!</h3>
  <% end %>
  <div class="responses">
      <% @submission.responses.each do |r| %>
    <div class="response">
      <h4><%= r.question.question %></h4>
      <p><%= r.content %></p>
      <hr>
    </div>
    <% end %>
  </div>

  <% if current_user.employer == @submission.listing.employer %>
  <%= button_to "Accept", confirm_path(@submission), method: :patch, class: "btn btn-success socksup-primary response-button", id: "submit-button" %>
  <%= button_to "Reject", reject_path(@submission), method: :patch, class: "btn btn-success socksup-primary response-button", id: "submit-button" %>


  <% elsif @submission.user == current_user%>
  <%= button_to "Submit application", submit_path(@submission), method: :patch, class: "btn btn-success socksup-primary response-button", id: "submit-button", remote: :true, "data-toggle" => "modal", "data-target" => "#confirmSubmission", "data-backdrop"=> "static", "data-keyboard" => "false"%>
  <% end %>
</div>


<div class="modal fade" id="confirmSubmission" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header text-center green-top">
        <h3  id="modalCenterTitle">Congratulations!</h3>
      </div>
      <div class="modal-body green-body">
        <%= "You've successfully submitted your quiz to be a #{@submission.listing.title.downcase}.\n #{@submission.listing.employer.name} will review your application and their contact details will be available to you if your application is approved." %>
      </div>
      <div>
        <div class="modal-footer modal-center-text">
          <div class="modal-button">
            <%= link_to 'Look for More Jobs', listings_path, class: "btn btn-success socksup-primary" %>
          </div>
          <div class="modal-button">
            <%= link_to 'See My Applications', user_path(@submission.user), class: "btn btn-success socksup-secondary" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


