<!-- Geometric background banner -->
<div class="banner-profile" style="background-image: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/4RUieTItxik2c5fvx/simple-animated-geometric-background-with-squares-4k-ultra-high-definition-video-loop_hzhlwak8x_thumbnail-full01.png')">
  <div class="banner-content-profile">
    <h3><%= @employer.name%></h3>
    <%= image_tag @employer.photo, class: "profile-picture" %>
  </div>
</div>

<!-- Content below banner and avatar -->
<div class="contact-info">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="spaced">
        <i class="far fa-envelope"></i><p><%= @employer.contact %></p>
        </div>
        <hr width="50%">
        <h4><%= @employer.address %>, <%= @employer.city %></h4>
        <br>
        <p><%= @employer.description %></p>
        <br>
      </div>
    </div>
  </div>
</div>

